<%- include ('../partials/header') %>
    <%- include ('../partials/nav-bar') %>
        <link rel="stylesheet" href="/css/scoreboard.css">
        <main>
            <div class="contained" id="leaderboard">
                <h1 style="text-align: center;">Global Scoreboard</h1>

                <div class="row justify-content-center bg-light">
                    <div class="col" style="font-weight: bold;">
                        Position
                    </div>
                    <div class="col" style="font-weight: bold;">
                        Username
                    </div>
                    <div class="col" style="font-weight: bold;">
                        Total Points
                    </div>
                    <div class="col" style="font-weight: bold;">
                        Games Played
                    </div>
                    <div class="col" style="font-weight: bold;">
                        Average Points Per Game
                    </div>
                </div>
                <% if (data.length> 0){%>
                    <h4>Your Stats</h4>
                    <div class="row justify-content-center">
                        <div class="col" style="font-weight: bold;">
                            <%= data[0].position %>
                        </div>
                        <div class="col">
                            <%= data[0].username%>
                        </div>
                        <div class=" col">
                            <%= data[0].totalPoints%>
                        </div>
                        <div class=" col">
                            <%= data[0].gamesPlayed%>
                        </div>
                        <div class="col">
                            <%= data[0].avgPointsPerGame%>
                        </div>
                    </div>
                    <% }%>



                        <% data.forEach(data=> {%>
                            <div class=" row justify-content-center">
                                <div class="col-sm">
                                    <%= data.position %>
                                </div>
                                <div class="col-md">
                                    <%= data.username%>
                                </div>
                                <div class="col-md">
                                    <%= data.totalPoints%>
                                </div>
                                <div class="col-md">
                                    <%= data.gamesPlayed%>
                                </div>
                                <div class="col-sm">
                                    <%= data.avgPointsPerGame%>
                                </div>
                            </div>
                            <% })%>
            </div>
        </main>

        <%- include ('../partials/footer') %>